<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Maquinas</title>
 <link rel="stylesheet" href="/style.css">
</head>
<body>

  <!-- Renderiza a lista de status -->
  <div class="grid-container">
    <% Object.entries(estados).forEach(([ponto, status]) => { %>
      <div class="coluna" id="<%= ponto %>">
        <strong><%= ponto %></strong>: 
        <span class="<%= status %>"><%= status %></span>
        
        <form method="POST" action="/<%= ponto %>?_method=PUT">
          <input type="hidden" name="usuario" value="<%= nome || 'Anônimo' %>">
          <button type="submit">Alternar</button>
        </form>

        <h4>Histórico:</h4>
        <ul>
          <% (historico || []).filter(h => h.ponto === ponto).slice(-15).reverse().forEach(item => { %>
            <li>
              <%= item.data.split('T')[1].slice(0,5) %> - <%= item.status %> por <%= item.usuario %>
            </li>
          <% }) %>
        </ul>
      </div>
    <% }) %>
  </div>



  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('statusAtualizado', ({ ponto, status }) => {
      const el = document.getElementById(ponto);
      if (el) {
        el.querySelector('span').textContent = status;
        el.querySelector('span').className = status;
      }
    });
  </script>
</html>
